
<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/stylesheets/jamiecurle.edit.css" media="screen">
<% end %>

<div id="adminbar">
<ul>
	<li><%= link_to 'view', journal_path %></li>
</div>


<% if notice %>
<div class="notice">
<%=notice %>
</div>
<% end %>


<%= render 'form' %>

<%= link_to 'Show', @journal %> |
<%= link_to 'Back', journals_path %>
