<% content_for :title do %> Journal Entry <%= @journal.created_at.strftime("%d %b") %> : <%= @journal.title %> <% end %>
<% content_for :bodyclass do %>show<% end %>


<% if user_signed_in? %>
<div id="adminbar">
<ul>
	<li><%= link_to 'edit', edit_journal_path %></li>
</div>
<% end %>

<div class="journals">
	<article class="<%if !@journal.published? %>draft<% end %>">
		<time><%= @journal.created_at.strftime("%d %b") %> </time>
		<h1><%= @journal.title %></h1>
		<p class="description"><%= @journal.description %></p>
		<%= raw markdown(@journal.content) %>
	</article>
</div>


