
<% content_for :title do %> <%= @post.title %> <% end %>
<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/stylesheets/jamiecurle.syntax.css" type="text/css" media="screen">
<% end %>


<article class="editable">
	<header>
		<h1 id="title-<%= @post.id %>"><%= @post.title %> </h1>
		<%= link_to 'edit', edit_post_path(@post) %>
	</header>
	<div class="meta">
		<time><%= @post.created_at.strftime("%d %B %Y") %></time>
	</div>
	<div class="body" id="body-<%= @post.id %>">
		<% cache do %>
		<%= raw prettify @post.body %>
		<% end %>
	</div>
</article>



<% content_for :scripts do %>
	<% if session[:user_id] %>
	<script type="text/javascript" src="/javascripts/admin.js"></script>
	<% end %>
<% end %>
