<p id="notice"><%= notice %></p>

<p>
  <b>Slug:</b>
  <%= @post.slug %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Created:</b>
  <%= @post.created %>
</p>

<p>
  <b>Modified:</b>
  <%= @post.modified %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
