
<% content_for :title do %> <%= @post.title %> <% end %>
<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/stylesheets/jamiecurle.syntax.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen">
<% end %>


<article>
	<header>
		<h1 id="title-<%= @post.id %>"><%= @post.title %> </h1>
	</header>
	<div class="meta">
		<time><%= @post.created_at.strftime("%d %B %Y") %></time>
		<% @post.tags.each do |tag| %>
		<a href="/tags/<%= tag.name %>" class="tag"><%= tag.name %></a>
		<% end %>
	</div>
	<div class="body" id="body-<%= @post.id %>">
		<% cache('post_#{@post.id}') do %>
		<%= raw prettify @post.body %>
		<% end %>
	</div>
</article>



<% content_for :scripts do %>
	<% if session[:user_id] %>
	<script type="text/javascript" src="/javascripts/admin.js"></script>
	<% end %>
	<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.js"></script>
	<script type="text/javascript">
	$(function(){
		$('a.fancybox').fancybox({
			'titlePosition' : 'over',
			'overlayColor' : '#000',
			'overlayOpacity' : '0.9'
		});
	})
	</script>
<% end %>
