<h1>Listing blog_images</h1>

<table>
  <tr>
    <th>Src</th>
    <th>Img</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog_images.each do |blog_image| %>
  <tr>
    <td><%= blog_image.src %></td>
    <td><%= blog_image.img %></td>
    <td><%= link_to 'Show', blog_image %></td>
    <td><%= link_to 'Edit', edit_blog_image_path(blog_image) %></td>
    <td><%= link_to 'Destroy', blog_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog image', new_blog_image_path %>
