<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> Jamie Curle : <%= yield :title %></title>
		<link rel="stylesheet" href="/stylesheets/jamiecurle.css" media="screen">
		<link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0;" />
		<%= csrf_meta_tag %>
		<%= yield :stylesheets %>
		<script type="text/javascript" src="http://use.typekit.com/rll1nei.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body id="posts" class="<%= yield :bodyclass %>">
		<header>
			<h1><a href="/">JC</a></h1>
		</header>
		
		<div class="content">
			<%=yield %>
		</div>
		
		<%= javascript_include_tag 'jquery', 'rails' %>
		<%= yield :scripts %>
		
		
		<footer>
			<article id="about-me">
				<img src="/images/jamiecurle.jpg" alt="Photograph of Jamie Curle">
				<p>
					I'm a <a href="/tags/development/">developer</a> / 
					<a href="/tags/design/">designer</a> working towards being 
					a <a href="/tags/education/">creative educator</a>. I play 
					with the creative process, exploring web technologies and try to harvest 
					<a href="/tags/joy/">joy</a> from the 
					<a href="/tags/design/">user experience</a>. In my spare time I 
					<a href="/tags/botany">grow chillies</a>, play the drums and 
					<a href="/tags/training">train</a>
					You can <a href="http://twitter.com/jamiecurle" title="Jamie Curle Twitter">contact me on twitter</a>
				</p>
			</article>
			<div id="social">
					<a class="tag twitter" href="http://twitter.com/jamiecurle">Twitter</a></li>
					<a class="tag flickr" href="http://flickr.com/photos/mr_curle/">Flickr</a>
					<a class="tag lastfm" href="http://www.last.fm/user/jamiecurle">Last.fm</a>
					<a class="tag tumblr" href="http://tumblr.jamiecurle.com">Tumblr</a>
			</div>
			<div id="creative-commons">
				<p>
					<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">jamiecurle.com</span> by 
					<a xmlns:cc="http://creativecommons.org/ns#" href="http://jamiecurle.com" property="cc:attributionName" rel="cc:attributionURL">Jamie Curle</a> 
					is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
					Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
				</p>
			</div>
		</footer>
	</body>
</html>